.page-nav {
    border-bottom: solid rgb(214, 214, 214) 1px;
    display: flex;
}

.page-nav-container {
    display: flex;
}

.page-nav ul {
    padding: 0;
    margin: 0;
}

.page-nav li {
    margin: 0 12px;
    list-style: none;
    padding: 0;
}

.page-nav a {
    text-decoration: none;
    color: #95979d;
}

.page-nav a:active {
    border-bottom: solid 3px #1dbf73(196, 196, 196);
}

.gig-details-title {
    line-height: 100%;
    padding: 0 0 16px;
    font-size: 28px;
    width: 90%;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #404145;
    margin: 0;
}

.gig-page-holder {
    padding: 0;
    display: flex;
    @include for-normal-layout {
        padding: 32px 32px 0;
    }
}

.gig-details-container {
    width: 100%;
    @include for-normal-layout {
        width: 57.42%;
    }
}

.details-avatar {
    height: 32px;
    width: 32px;
    img {
        border-radius: 16px;
    }
}

.seller-overview {
    display: flex;
}

.profile-name {
    padding: 0 0 0 12px;
    a {
        padding: 0px 5px 0px 0px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        color: #404145;
    }
}

.seller-main-pic {
    margin-top: 105px;
    height: 427px;
    width: 100%;
}

.side-bar-content {
    max-width: 410px;
    width: 33%;
    color: #62646a;
}

.invoicing-box {
    border: rgb(196, 196, 196) 1px solid;
    margin-bottom: 16px;
    width: 100%;
}

.package-container {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 3px rgb(196, 196, 196);
}

.package-container span {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

.purchase-details-holder {
    padding: 32px 20px 32px 20px;
}

.contact-box {
    padding: 24px;
    background-color: #fafafa;
}

.contact-btn {
    background-color: #fafafa;
    width: 100%;
    color: #62646a;
    padding: 12px 24px;
    border-radius: 4px;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 70ms;
    border: 1px solid transparent;
    border-color: #62646a;
}

.contact-btn:hover {
    background-color: #62646a;
    color: #fff;
}

.sticky-wrapper {
    margin: 0 auto;
    // width: 80%;
}

.sticky-wrapper::after {
    display: table;
    content: "";
    clear: both;
}

.left-float {
    float: left;
}

.stickit {
    position: fixed;
    right: 6%;
    display: none;
    @include for-normal-layout {
        display: block;
    }
}

.covert-purchase {
    display: block;
    @include for-normal-layout {
        display: none;
    }
}

// @include for-normal-layout {
//     min-width: 560px;
//     max-width: 860px;
// }
// @include for-wide-layout {
//     max-width: 1100px;
//     min-width: 860px;
// }
// @include for-between-layout {
//     margin: 0 auto;
//     max-width: 1400px;
//     min-width: 1100px;
// }
// @include for-widest-layout {}