  .popular-label {
      margin-top: 0;
      position: absolute;
      /* top: 100px; */
      /* position: relative; */
      z-index: 1;
      color: #fff;
      padding: 16px;
      font-size: 24px;
      line-height: 130%;
  }
  
  .popular-label small {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      display: block;
  }
  
  .carousel-continer {
      margin: auto;
    //   width: 80%;
      width: 60%;
      h2 {
          margin-bottom: 13px;
          font-size: 32px;
          color: $clr7;
      }
  }
  
  .slick-prev:before,
  .slick-next:before {
      content: "";
      display: inline-block;
      background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg);
      background-size: 16px 64px;
      width: 16px;
      height: 16px;
      margin-top: 3px;
      grid-area: 1 / 1 / 1 / 1;
  }
  
  .slick-next:before {
      background-position: 0 48px;
  }
  
  .slick-prev,
  .slick-next {
      border-radius: 30px;
      background-color: #fff;
      width: 48px;
      height: 48px;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
      font-size: rem(16px);
      line-height: 100%;
      display: grid !important;
      grid-template-rows: auto;
      grid-auto-rows: 0px;
      justify-items: center;
      align-items: center;
      z-index: 4;
      &:hover,
      &:focus {
          background-color: #fff;
      }
  }
  
  .slick-slider {
      padding-bottom: 10px;
  }
  
  .slick-slide {
      // width: 60px !i;
      height: inherit !important;
      margin: 0 18px;
      /* padding: 0 18px; */
  }
  
  .slick-list {
    //   padding-right: 50px;
      margin: 0 -181px;
  }
  
  .popular-img {
      width: 252px;
      height: 345px;
  }
  
  .slick-track {
      display: flex !important;
  }
  
  .imgage-contariner :hover {
      -webkit-transition: opacity 0.3s ease-in-out;
      cursor: pointer;
      opacity: 0.85;
  }
  
  .seller-main-pic section div .slick-prev::before {
      margin-right: 10px;
  }
  
  .img-datails {
      max-width: 730px;
      justify-content: center;
      margin: auto;
      display: block;
      div {
          button {
              // width: 20px;
              // height: 20px;
          }
      }
      // margin: 0%;
      // 
  }
  
  // .big-carousel{
  //   height: 600px;
  // }
  @include for-wide-layout {
      .seller-main-pic {
          height: 500px;
      }
      .carousel-continer {
        width: 100%;
      }
  }
  
  @include for-between-layout {
  }
  
  .img-datails {
      display: none;
      @include for-narrow-layout {
          display: block;
          .carousel-continer {
             
          }
      }
  }