.graph-header-details {
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #404145;
    h2 {
        font-size: 20px;
        margin: 0;
    }
}

.graph-header-details {
    padding-bottom: 20px;
}