.gig-card {
    // position: relative;
    // background-color: $clr1;
    border: 1px solid #e4e5e7;
    // padding-left: 9px;
    // padding-right: 9px;
    width: 100%;
    min-width: 245px;
    
    .gig-img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
    .seller-info {
        line-height: 120%;
        padding: 12px 12px 8px;
        height: 54px;
        width: 100%;

        img {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            object-fit: cover;
            justify-content: center;
            min-width: 1em;
        }
        .seller-identifiers {
            margin-left: 8px;
            width: calc(100% - 24px);
            font-size: 14px;
        }
        .seller-name {
            line-height: 120%
        }
        a {
            font-weight: 600; 
            color: #222325;
        }
        .seller-level {
            color: #7a7d85;
            font-weight: 500;
            font-family: Macan-regular;
            line-height: 21px;
        }
    }
    .gig-title {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        color: #222325;
        line-height: 22px;
        font-weight: 500;
        font-family: Macan-regular;
        height: 43px;
        overflow: hidden;
        padding: 0 12px 5px;
        margin-top: 5px;
        word-wrap: break-word;
        word-break: break-word;
    }
    a {
        text-decoration: none;
        // color: #222325;
        line-height: 18px;
        
    }


 .gig-rating {
    // display: flex;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 12px;
    // vertical-align: -0.16em;

    :nth-child(1){
        color: #ffbe5b; 
        font-weight: 700;
        width: 15px;
        height: 15px;
        // margin-right: 2px;  
    } 
    :nth-child(2){
        color: #b5b6ba; 
        font-family: Macan-regular;
        font-weight: 400;
        margin: 0px 0px 0px 2px;
    }

  
}

.gig-footer {
    padding: 10px 12px;
    border-top: 1px solid #efeff0;
    
    .heart-icon {
        color: #b5b6ba;
    }
    .text-price {
        color: #7a7d85;
        font-size: 10px;
        // font-weight: 700;
        letter-spacing: .5px;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        padding: 2px 0 0;
    }
    .price-span {
        font-size: 18px;
        font-family: Macan-regular;
        line-height: 20px;
        color: #404145;
        text-align: right;
    }
}
.gig-card :not(:nth-child(1)){
    padding-left: 9px;
    padding-right: 9px;
}

    // &::before {
    //     content: "";
    //     background: linear-gradient(to top, $clr1 0%, rgba($clr1, 0) 100%);;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }
    
}
.gig-card:hover .gig-title{
    color:#1dbf73;
}
