.app-footer {
    .logo-footer {
        width: 77px;
        height: 23px;
        opacity: 0.4;
        position: relative;
        bottom: 4px;
        // padding-bottom: ;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .left {
        display: flex;
        align-items: center;
        .copyright {
            margin-left: 24px;
            opacity: 0.6;
            font-size: 15px;
            @include for-narrow-layout {
                font-size: 16px;
            }
        }
    }
    .right {
        svg:not(:last-child) {
            margin-right: 40px;
            // padding-right: 40px;
        }
        svg {
            opacity: 0.4;
        }
    }
}

.app-footer::before {
    // padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #e4e5e7;
    content: "";
    height: 1px;
    width: 100%;
}
