.home-header {
    z-index: 10;
}

.fixed-header{
    position: fixed;
    width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
} 

.rel-header {
    position: relative;
}

.nav-warp {
    // width: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
}
// #7a7d85
.main-header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 10;
    a{
        text-decoration: none;
        color: #62646a;
        // font-weight: 800;
    }

    .nav-bar{
        color: #62646a;
        font-weight: 600;
        width: 825px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0px 0px 0px 16px;
       
        button {
            width: 70.7px;
            margin-left: 10px;
            border-radius: 5px;
            font-family: Macan;
            font-size: 14px;
            background-color: transparent;
            cursor: pointer;           
            &:hover{
                background-color: #169e5e;
            }
        }
        
        &>*{            
            font-stretch: normal;
            font-size: 16px;
            line-height: 24px;
        }

        span {
            cursor: pointer;
        }
    
    }
    
    .white {
        color: #fff;
    }
    
}

.srch-visible {
    opacity: 1;
    visibility: visible;
    transition: .15s ease-in-out
}

.srch-hidden {
    opacity: 0;
    visibility: hidden;
    transition: .15s ease-in-out
}

.bgc-white {
    background-color: #fff;
}

.gray-border {
    border-bottom: 1px solid #e4e5e7;
}

.hover-nav >*:not(:nth-child(4)){
    &:hover{
        color: $clr1;
    }
}

.main-header .white a{
    color: #fff;
}

.nav-bar >*:not(:nth-child(4)){
    padding: 0 10px;
    // &:hover{
    //     color: $clr1;
    // }
}

.nav-bar .white >*:not(:nth-child(4)){
        color: #fff;   
    }

.btn-white {
    color: #fff;
    border: 1px solid #fff;
    transition: all .2s ease;
    &:hover {
        color: #fff;
        background-color: #169e5e;
        border: 1px solid $clr1;
    }

}

.btn-green {
    color: $clr1;
    border: 1px solid $clr1;
    // transition: color .5s ease,border .5s ease;
    transition: all .2s ease;
    &:hover {
    color: #fff;
    background-color: #169e5e;

    }
}

.logo-warp {
    height: auto;
    min-width: 106px;
    margin: 4px 0 0;  
}

.logo {
    width: 89px;
    height: 27px;
    margin-top: 5px;
    // font-size: 2rem;
    // font-stretch: normal;
    // letter-spacing: -2.5px;
    // font-weight: 600;
    // span {
    //     font-size:30px;
    //     font-stretch: normal;
    //     font-weight: 600;
    //     color: $clr1;
    //     border-radius: 50%;
    // }
}

.nav-search {
    min-width: 412px;
    .search-form{
        display: flex;
        position: relative;
        // width: 90%;
        height: 34px;
        input[type=search]{
            // width: 100%;
            width: 293px;
            resize: none;
            outline: none;
            background-color: #fff;
            font: inherit;
            font-weight: 500;
            font-family: Macan-regular;
            color: #404145;
            border: 1px solid #dadbdd;       
            border-right: 0;
            border-radius: 3px 0 0 3px;
            transition: .15s ease-in-out;
            font-size: 15px;
            padding: 8px 7px 7px 28px;
       }

       button {
        padding: 8px 16px;
        display: block;
        font-size: 14px;
        font-weight: 700;
        border: 1px solid $clr1;
        border-radius: 0 3px 3px 0;
        background-color: $clr1;
        color: #fff;
        width: 80px;
        cursor: pointer;           
      }

      button:hover {
        background-color: #169e5e
      }
    }

    .search-svg-header {
        position: relative;
        left: 24px;
        top: 8px;
        opacity: 0.5;
    }

    // @include for-narrow-layout {
    //     .search-form{
    //         min-width: 186px;
    //     }
    // }
    // @include for-normal-layout{
        
    // }
}






/* clears the 'X' from Internet Explorer */
// input[type=search]::-ms-clear,
// input[type=search]::-ms-reveal {
//   display: none;
//   width: 0;
//   height: 0; 
// }

/* clears the 'X' from Chrome */
// input[type=search]::-webkit-search-decoration,
// input[type=search]::-webkit-search-cancel-button,
// input[type=search]::-webkit-search-results-button,
// input[type=search]::-webkit-search-results-decoration {
//   display: none;
// }