
.el-popper[x-placement^=bottom] .popper__arrow {
    display: none;
}

// .el-input__inner {
//     color: #222325;
// }


.el-input.is-focus {
    border-color:#dadbdd ; 
}

.el-input__inner:focus {
    border-color:#dadbdd ; 

}



.filter-container{
    display: flex;
    margin: 20px;
   
}
.filter-container > *{

 margin: 10px;
 height: 30px;
}

.list-tiltle{
    text-align: center;
}

.filter-fieldset{
    background-color:#F3F0D7;
    margin-bottom: 20px;
}
