.gig-list{

    margin-left: 32px;
    margin-right: 32px;
    //need to add mobile
    display: grid;
    @include for-narrow-layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    
    @include for-normal-layout {
        grid-template-columns: repeat(3, 1fr);        
    }
    
    @include for-wide-layout {
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
}
// .list-grid{
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
//     gap: 30px;
//     grid-auto-flow: dense;
// }
// .list-grid > *{
//     text-align: center;
// }
