.gig-list{

    //need to add diffrent mobile style?
    display: grid;
    margin-top: 50px;
    // grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));

    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    
    @include for-narrow-layout {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @include for-normal-layout {
        grid-template-columns: repeat(3, 1fr); 
    }
    
    @include for-wide-layout {
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
    // @include for-between-layout{}

    // @include for-widest-layout{}
}
// .list-grid{
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
//     gap: 30px;
//     grid-auto-flow: dense;
// }
// .list-grid > *{
//     text-align: center;
// }
