.gig-card {
    // position: relative;
    // background-color: $clr1;
    border: 1px solid #e4e5e7;
    padding-left: 9px;
    padding-right: 9px;
    width: 100%;
    min-width: 245px;

    .seller-info {
        img {
            border-radius: 50%;
            width: 24px;
            height: 24px;
        }
        
    }

    a {
        text-decoration: none;
        color: #222325;
    }

    a:hover {
        color: #1dbf73;
    }

.gig-rating {
    :nth-child(1){
        color: #ffbe5b; 
    }
    :nth-child(2){
        color: #b5b6ba; 
    }
}

.gig-card :not(:nth-child(1)){
    padding-left: 9px;
    padding-right: 9px;
}
    // &::before {
    //     content: "";
    //     background: linear-gradient(to top, $clr1 0%, rgba($clr1, 0) 100%);;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    // }
}
