.fixed-header{
    position: fixed;
    width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
} 

.rel-header {
    position: relative;
}

.nav-warp {
    width: 1400px;
    display: flex;
    align-items: center;
}
// #7a7d85
.main-header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 80px;
    a{
        text-decoration: none;
        color: #62646a;
        // font-weight: 800;
    }

    .nav-bar{
        color: #62646a;
        font-weight: 600;
        width: 825px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0px 0px 0px 16px;
       
        button {
            width: 70.7px;
            margin-left: 10px;
            border-radius: 5px;
            background-color: transparent;
           
            &:hover{
                background-color: $clr1;
            }
        }
        
        &>*{            
            font-stretch: normal;
            font-size: 16px;
            line-height: 24px;
        }
    
    }
    
    .white {
        color: #fff;
    }
    
}

.gray-border {
    border-bottom: 1px solid #e4e5e7;
}

.hover-nav >*:not(:nth-child(4)){
    &:hover{
        color: $clr1;
    }
}

.main-header .white a{
    color: #fff;
}

.nav-bar >*:not(:nth-child(4)){
    padding: 0 10px;
    // &:hover{
    //     color: $clr1;
    // }
}
.nav-bar .white >*:not(:nth-child(4)){
        color: #fff;   
    }

.btn-white {
    color: #fff;
    border: 1px solid #fff;
    &:hover {
        color: #fff;
        border: 1px solid $clr1;
    }

}
.btn-green {
    color: $clr1;
    border: 1px solid $clr1;
      
    &:hover {
    color: #fff;
    }
}

.logo-warp {
    height: auto;
    min-width: 121px;
    margin: 4px 0 0;  
}

.logo {
    width: 89px;
    height: 27px;
    // font-size: 2rem;
    // font-stretch: normal;
    // letter-spacing: -2.5px;
    // font-weight: 600;
    // span {
    //     font-size:30px;
    //     font-stretch: normal;
    //     font-weight: 600;
    //     color: $clr1;
    //     border-radius: 50%;
    // }
}

.nav-search {
    .search-form{
        display: flex;
        width: 400px;
        height: 34px;
        input[type=search]{
            background-color: #fff;
            font: inherit;
            color: #404145;
            border: 1px solid #c5c6c9;       
            border-right: 0;
            border-radius: 3px 0 0 3px;
            transition: .15s ease-in-out;
            font-size: 15px;
            padding: 8px 7px 7px 28px;
            width: 100%;
    
       }
       button {
        padding: 8px 16px;
        display: block;
        font-size: 14px;
        font-weight: 700;
        border: 1px solid $clr1;
        border-radius: 0 3px 3px 0;
        background-color: $clr1;
        color: #fff;
        width: 80px;
      }
  
    }

    @include for-wide-layout{}
    @include for-normal-layout{}
}