.carousel-continer button::before {
    width: 3rem;
    height: 3rem;
    background: #fefeff;
    border-radius: 1.625rem;
    z-index: 3;

  }
  .popular-label {
    position: absolute;
    /* top: 100px; */
    /* position: relative; */
    z-index: 1;
    color: #fff;
    padding: 16px;
    font-size: 24px;
    line-height: 130%;
  }
  .popular-label small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: block;
  }
  .carousel-continer {
    margin: auto;
    width: 66.2%;
  }
  .slick-prev:before,
  .slick-next:before {
     color: red !important;  
    size: 48px;
    border-radius: 30px;
  }
  
  .slick-arrow {
    position: absolute;
    display: block;
    color: #000;
  }
  .slick-slide {
    margin: 0 18px;
    /* padding: 0 18px; */
  }
  .slick-list {
    padding-right: 50px;
    margin: 0 -181px;
  }
  .popular-img {
    width: 252px;
    /* height: 345px; */
  }
  .imgage-contariner :hover {
    -webkit-transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.85;
  }