.main-layout {
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1400px;
    margin: 0 auto;
    @include for-narrow-layout {
    }
    
    @include for-normal-layout {
    }
    
    @include for-wide-layout {
    }
    
}
