.main-layout {
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1400px;
    margin: 0 auto;
    @include for-narrow-layout {
    }
    
    @include for-normal-layout {
        min-width: 560px;
        max-width: 860px;
    }
    
    @include for-wide-layout {
        max-width: 1100px;
        min-width: 860px;
    }

    @include for-between-layout {
        margin: 0 auto;
        max-width: 1400px;
        min-width: 1100px;
    }
    
    @include for-widest-layout {
        max-width: 1400px;
    }
    
}
