.page-nav {
    border-bottom: solid rgb(214, 214, 214) 1px;
    display: flex;
}

.line {
    margin: 5px 0;
    border-top: 1px solid #efeff0;
}

.page-nav-container {
    display: flex;
}

.page-nav ul {
    padding: 0;
    margin: 0;
}

.page-nav li {
    margin: 0 12px;
    list-style: none;
    padding: 0;
}

.page-nav a {
    text-decoration: none;
    color: #95979d;
}

.page-nav a:active {
    border-bottom: solid 3px #1dbf73(196, 196, 196);
}

.gig-details-title {
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #404145;
    line-height: 100%;
    padding: 0;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    margin: 50px 0 20px 0;
    @include for-narrow-layout {
        font-size: 28px;
    }
    @include for-normal-layout {
        font-size: 28px;
        padding: 0 0 16px;
        margin: 0;
        width: 90%;
    }
}

.gig-page-holder {
    padding: 0;
    display: flex;
    @include for-normal-layout {
        padding: 32px 32px 0;
    }
}

.gig-details-container {
    width: 100%;
    @include for-normal-layout {
        width: 57.42%;
    }
}

.details-avatar {
    height: 32px;
    width: 32px;
    img {
        object-fit: cover;
        height: 32px;
        width: 32px;
        border-radius: 16px;
    }
}

.profile-pict img {
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.seller-overview {
    @include for-narrow-layout {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    flex-direction: column;
    display: flex;
    align-items: left;
}

.profile-name {
    font-size: 14px;
    padding: 0 0 0 6px;
    a {
        padding: 0px 5px 0px 0px;
        text-decoration: none;
        font-weight: 600;
        color: #404145;
    }
    a:hover {
        text-decoration: underline;
    }
    @include for-narrow-layout {
        padding: 0 0 0 12px;
        font-family: Macan-regular;
        font-size: 14px;
    }
}

.res-pad-left {
    padding-left: 38px;
}

.seller-main-pic {
    margin-top: 20px;
    height: 220px;
    width: 100%;
    @include for-narrow-layout {
        margin-top: 20px;
        height: 500px;
        width: 100%;
    }
}

.side-bar-content {
    max-width: 410px;
    width: 33%;
    color: #62646a;
}

.invoicing-box {
    border: rgb(196, 196, 196) 1px solid;
    margin-bottom: 16px;
    width: 100%;
}

.package-container {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 1px rgb(196, 196, 196);
}

.package-container span {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

.purchase-details-holder {
    padding: 32px 20px 32px 20px;
}

.contact-box {
    padding: 24px;
    background-color: #fafafa;
}

.contact-btn {
    background-color: #fafafa;
    width: 100%;
    color: #62646a;
    padding: 12px 24px;
    border-radius: 4px;
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 70ms;
    border: 1px solid transparent;
    border-color: #62646a;
}

.contact-btn:hover {
    background-color: #62646a;
    color: #fff;
}

.sticky-wrapper {
    margin: 0 auto;
    // width: 80%;
}

.sticky-wrapper::after {
    display: table;
    content: "";
    clear: both;
}

.left-float {
    float: left;
}

.stickit {
    position: fixed;
    // position: absolute;
    display: flex;
    // position: sticky;
    transform: translateX(158%);
    // right: 6%;
    display: none;
    @include for-normal-layout {
        display: block;
    }
}

$break-narrow: 600px;
$break-normal: 900px;
$break-wide: 1160px;
$break-between: 1480px;
$break-widest: 1760px;
.covert-purchase {
    display: block;
    @include for-normal-layout {
        display: none;
    }
}

@include for-wide-layout {
    .stickit {
        transform: translateX(171%);
    }
}

@include for-between-layout {
    .stickit {
        transform: translateX(217%);
    }
}

.sign-in {
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.69);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-in-box {
    position: relative;
    background-color: #fff;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.sing-in-contant {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 0 36px 24px;
    @include for-narrow-layout {
        width: 400px;
    }
    h4 {
        font-size: 24px;
        font-style: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #404145;
    }
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.mid-liner {
    font-family: Macan-regular;
    font-size: 14px;
    content: "|";
    color: #c5c6c9;
    padding: 0 5px;
}

.righty {
    display: none;
    @include for-narrow-layout {
        display: block;
    }
}

.rating-amount {
    font-size: 12px;
    padding-left: 3px;
    @include for-narrow-layout {
        font-family: Macan-regular;
        font-size: 14px;
        padding-left: 4px;
    }
}

.que-num {
    display: none;
    @include for-narrow-layout {
        font-family: Macan-regular;
        font-size: 14px;
    }
}