.app {
    max-width: 1900;
}

.brand-campaign {
    color: #fff;
    padding: 0 32px;
    padding: 154px 0;
}

.hero-tiltle {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    padding-bottom: 0px;
    height: 100px;
    max-width: 618px;
    font-weight: 600;
    i {
        font-family: domaine;
        letter-spacing: 3px;
    }
}

.search-svg {
    position: relative;
    left: 17px;
    top: 31px;
    opacity: 0.5;
}

.home-search-box {
    position: relative;
    right: 15px;
    width: 100%;
    font: 400 16px/24px Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #62646a;
    display: flex;
    flex-direction: column;
    input {
        outline: none;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        height: 48px;
        padding-left: 44px;
        margin-bottom: 0;
        border: 1px solid #c5c6c9;
        width: 100%;
    }
    button {
        margin-top: 15px;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        background-color: #1dbf73;
        color: #fff;
        height: 48px;
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid transparent;
    }
    button:hover {
        background-color: #169e5e;
    }
}


/* .home-header {
    position: fixed;
  } */

.hero-container {
    width: 100%;
    height: 680px;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379118/hero/1_c9jihn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* animation: change 10s infinite ease-in-out; */
    animation: infinite fade 36s cubic-bezier(0.91, 0.04, 0.9, 1);
    /* animation: fade 2s linear ; */
}

@keyframes fade {
    0% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379118/hero/1_c9jihn.jpg");
    }
    18% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379118/hero/1_c9jihn.jpg");
    }
    20% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638387421/hero/2_i0r5wm.jpg");
    }
    38% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638387421/hero/2_i0r5wm.jpg");
    }
    40% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379447/hero/3_jwygvs.jpg");
    }
    58% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379447/hero/3_jwygvs.jpg");
    }
    60% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379344/hero/4_hfzpys.jpg");
    }
    78% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379344/hero/4_hfzpys.jpg");
    }
    80% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379631/hero/5_vajd7a.jpg");
    }
    98% {
        background-image: url("https://res.cloudinary.com/pivarr/image/upload/v1638379631/hero/5_vajd7a.jpg");
    }
}

.trust-contaner {
    position: relative;
    left: 43px;
    // padding-bottom: 100px;
    margin-bottom: 89px;
    width: 100%;
    height: 95px;
    color: #62646a;
    // font: 400 16px/24px Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    background: rgb(250, 250, 250);
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    ul {
        padding: 0 24px;
    }
    .trusted-by-text {
        opacity: 0.5;
        padding-right: 0px;
        position: relative;
        top: -5px;
        display: none
    }
    .trust-facebook {
        width: 111px;
    }
    .trust-google {
        width: 86px;
    }
    .trust-netflix {
        width: 90px;
    }
    .trust-pg {
        width: 70px;
    }
    .trust-paypal {
        // display: block;
        display: none;
    }
    img {
        height: 60px;
        // width: 160px;
        padding-right: 10px;
    }
}

// popular
.popular {
    display: none;
    padding-top: 24px;
    ul {
        display: flex;
        width: 100%;
        margin: 0;
        padding-left: 0;
        font-size: 14px;
        span {
            margin-right: 12px;
        }
        span:not(:first-child):hover {
            background-color: #fff;
            color: $clr3;
            cursor: pointer;
        }
        span:first-child {
            font-weight: 600;
        }
    }
}

.span-popular {
    border-radius: 40px;
    background-color: transparent;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    padding: 1px 12px 0;
    border: 1px solid #fff;
}

@include for-normal-layout {
    .hero-tiltle {
        font-size: 40px;
        height: 140px;
        line-height: 48px;
        padding-bottom: 24px;
    }
    .home-search-box {
        flex-direction: row;
        // width: 650px;
        .search-svg {
            position: relative;
            left: 30px;
            top: 15px;
            opacity: 0.5;
        }
        input {
            margin-bottom: 0px;
            width: 450px;
            border-radius: 5px 0px 0px 5px;
        }
        button {
            margin-top: 0px;
            border-radius: 0px 5px 5px 0px;
        }
    }
    .popular {
        display: block;
    }
    .trust-contaner {
        .trusted-by-text {
            display: block;
            padding-right: 24px;
        }
        img {
            padding-right: 60px;
        }
        .trust-facebook {
            width: 160px;
        }
        .trust-google {
            width: 130px;
        }
        .trust-netflix {
            width: 131px;
        }
        .trust-pg {
            width: 107px;
        }
        .trust-paypal {
            // display: none;
            display: inline;
            width: 144px;
        }
    }
    .brand-campaign {
        //   padding: 32px 32px 64px;
    }
    .hero-tiltle {
        //  height: 120px;
    }
}

@include for-wide-layout {
    .hero-tiltle {
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 24px;
    }
}

@include for-between-layout {
    .hero-tiltle {
        font-size: 48px;
        line-height: 56px;
        // padding-bottom: 24px;
        height: 140px;
    }
    .brand-campaign {}
}

@include for-wide-layout {
    .home-search-box input {
        width: 550px;
    }
    .brand-campaign {}
}

@include for-widest-layout {
    .brand-campaign {
        // padding-left: 32px;
        // padding-right: 32px;
    }
}