.from-add-gig{
    padding: 30px;
    
    .el-input{
        // margin: 20px;
        margin-bottom: 30px;
        // padding: 20px;
        input{
            width: 400px;
            // margin: 20px 0;
            // padding: 20px 0;
        }
    }
    .add-gig-input-number{
        input{
            width: 180px;
        }
    }
    // .el-input-number{
    //     width: 180px;
    // }
}