.form-add-gig{
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    border: 1px solid #e4e5e7;
    
    .el-input{
        // margin: 20px;
        margin-bottom: 30px;
        // padding: 20px;
        input{
            width: 400px;
            // margin: 20px 0;
            // padding: 20px 0;
        }
    }
    
    p {
        margin-bottom: 0;
        margin-top: 0;
    }
 
    .add-gig-input-number{
        input{
            width: 180px;
        }
    }

    label {
        display: flex;
        flex-direction: column;
    }
    // .el-input-number{
    //     width: 180px;
    // }

}
 
input[type="file"]{
    display: none;
}
.img-upload-container{
    // margin-top: 10px;
    // padding-top;
}
.upload-btn{
    color: #fff;
    // background: #edfdf6;
    text-decoration: none;
    outline: none;
    border-radius: 4px ;
    // border: 1px transparent;
    border: 2px solid #e4e5e7;
    // margin-top: 14px;
    padding: 12px 24px;
    
    cursor: pointer;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;

    &:hover{
        background: #d5f5e6;
    }
}

.upload-img {
    width: 100px;
}

.save-btn, .cancel-btn {
    font-size: 16px;
    margin-top: 25px;
    color: #fff;
    text-decoration: none;
    outline: none;
    border-radius: 4px ;
    border: 1px transparent;
    // margin-top: 10px;
    padding: 12px 24px;
    cursor: pointer;
   
}

.save-btn {
    background: $clr1;
    &:hover{
        background: #248859;
    }
}


.cancel-btn {
    // color: #222325;
    background: #aad8f7;
    &:hover{
        background: #1a629c;
    }
}

// .el-icon-loading {
//     color:green;
//     width: 100px;
// }
